langgraph-cli
langgraph
faiss-cpu
langchain-core
langchain
langchain-community
langchain-openai
langchain-ollama
streamlit
python-dotenv
pypdf
html2text
unidecode
docx2txt
llama-parse
llama-cloud-services
docling
tqdm
pydantic
uvicorn
fastapi
boto3
scikit-learn
nltk
pytube
youtube-transcript-api
yt-dlp